@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  height: 2px;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Advent Pro", sans-serif;
  scroll-behavior: smooth;
}

nav.navigation {
  background: transparent;
  height: 8vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: "Advent Pro", sans-serif;
  position: fixed;
  transition: background 0.3s ease;
}
nav.sticky {
  background-color: #ffd300;
}
nav.sticky .navigation__item a {
  color: black;
}
.logo img {
  height: 140px;
}
.logo img:hover {
  cursor: pointer;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
  width: 500px;
  list-style-type: none;
}
.navigation__item a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.navigation__item a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.navigation__item a:hover::after {
  transform: translateX(0);
}

.navigation__item a:hover {
  font-weight: bold;
  cursor: pointer;
}

/*Hamburger button*/
.hamburger {
  width: 30px;
  height: 18px;
  border: none;
  background: transparent;
  display: none;
}

.hamburger__box {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  position: relative;
}

.hamburger__inner {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: black;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in;
}
.hamburger__inner::before {
  position: absolute;
  left: 0;
  top: -5px;
  content: "";
  width: 100%;
  display: inline-block;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease-in;
}

.hamburger__inner::after {
  position: absolute;
  left: 0;
  top: 5px;
  content: "";
  width: 100%;
  display: inline-block;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease-in;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(5px) rotate(45deg);
}
.hamburger--active .hamburger__inner::after {
  transform: translateY(-5px) rotate(-45deg);
}

.section__home {
  width: 100%;
  height: 100vh;
  position: relative;

  left: 0;
  z-index: -1;
}

.section__home img {
  width: 10rem;
  border-radius: 50%;
}
.scroll {
  position: absolute;
  bottom: 45px;
}
img.scroll {
  width: 4rem;
  transform: translateY(-30px);
  animation: scroll_down 1s infinite alternate-reverse;
}
.app__container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}
.section__home {
  background-color: #353535;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
}
.section__text {
  color: white;
  z-index: 1;
}
.section__text h2 {
  font-size: 5em;
  font-weight: 800;
}
.section__text h3 {
  font-size: 3em;
  text-transform: uppercase;
}
.section__text p {
  width: 500px;
  padding: 15px;
}
.link {
  display: block;
  background-color: #3a86ff;
  width: 100px;
  height: 30px;
  border-radius: 2em;
  text-align: center;
  line-height: 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.section__home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: overlay;
  background-color: #8338ec;
}

.section__about {
  background: url("./assets/cyberpunkBg.webp") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.section__portfolio {
  background-color: #343e3d;
  height: 100vh;
}
.section__contact {
  background-color: #353535;
  height: 85vh;
  color: white;
}
footer {
  height: 15vh;
  display: flex;
  background-color: #ffd300;
  color: black;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
}
.madeby {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 7px 10px;
  /* background-color: pink; */
}
.footer__icons {
  width: 220px;
  display: flex;
  justify-content: space-around;
}
.fab {
  font-size: 25px;
  color: black;
  transition: color, transform 0.5s ease;
  margin-bottom: 15px;
}
.fab:hover {
  color: #bfedc1;
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (max-width: 767px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    position: fixed;
  }
  .hamburger {
    display: inline-block;
    z-index: 1;
    position: fixed;
    right: 5%;
    top: 3%;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .logo {
    font-size: 10px;
    z-index: 1;
  }
  .navigation__list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #ffd300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s 0.3s ease-in;
    /* z-index: 2; */
  }
  .navigation__item {
    margin-top: 20px;
    z-index: 1;
  }
  .navigation__item a {
    color: black;
  }
  a:hover {
    cursor: pointer;
  }
  .navigation--active {
    transform: translateY(0);
  }
  .section__text {
    text-align: center;
  }
}

/*ANIMATIONS*/

@keyframes scroll_down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
